

#btnCart {
    font-size: 26px;
    margin-left: 0.6%;
}

#btnNovaKategorija {
  font-size: 24px;
  margin-left: 0.6%;
}

#btnNewArticle {
  float: right;
  font-size: 24px;
  margin-right: 0.6%;
}

#webShopLink {
    font-size: 36px;
    float: left;
}

::marker {
    font-size: 0em;
    display: none;

  }

  #btnLogin, #btnLogout {
    font-size: 24px;
  }

  #btnSignUp {
    font-size: 20px;
  }

  #someDiv {
      width: 100%;
  }
