<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-lg-4 text-end" id="someDiv">
      <li routerLinkActive="active"><a routerLink="/categories" class="nav-link px-2 link-secondary"  id="webShopLink">Web Shop</a></li>
      <button type="button" class="btn btn-primary me-2" id="btnLogin" *ngIf="!isAuthenticated" ><a style="text-decoration: none; color: white;" routerLink="/auth">Autentikacija&nbsp;<fa-icon [icon]="faKey"></fa-icon></a></button>
      <button type="button" class="btn btn-outline-primary me-2" id="btnLogout" *ngIf="isAuthenticated" (click)="onLogout()" >Odjava</button>
    </div>
  </header>
  <button class="btn btn-primary" id="btnCart" (click)="goToCart()"><fa-icon [icon]="faShoppingCart"></fa-icon>&nbsp;<span class="badge badge-pill bg-danger" style="font-size: 12px;"> {{ getCartLength }}</span> &nbsp;Korpa</button>
