<div class="row">
    <div class="column left" *ngIf="!isMobile">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">

        </div>
    </div>


    <div class="column right" *ngIf="!isMobile">
        <div class="row">
            <div class=" leftLeft">
                <div class="searchDiv">
                    <div class="input-group mb-3" id="test">
                        <div class="input-group-prepend">
                            <input [(ngModel)]="searchValue" class="form-control mr-sm-2" id="searchCategory"
                                type="search" placeholder="Unesite naziv artikala" aria-label="Search">
                        </div>
                        <!-- <div class="input-group-prepend">   -->
                        <input class="form-control mr-sm-2" id="searchCategory" [value]="categoryName"
                            style="font-size: 20px;" readonly>
                        <!-- </div>  -->
                        <button class="btn btn-outline-success my-2 my-sm-0" id="searchCategoryButton" type="submit"
                            (click)="searchArticleInCategory()">Pretraga</button>
                    </div>

                </div>
                <app-article-item *ngFor="let articleEl of articles; let i = index" [article]="articleEl" [index]="i">
                </app-article-item>
            </div>
            <br>
        </div>
    </div>

    <div class="column right" *ngIf="isMobile" style="margin-top: -50%">        <!-- POTENCIJALNO ZA PREKLOP :D-->
      <!--  <div>   -->
        <a *ngIf="isMobile" href="/" style="width: 145%;"
            class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">
                <h2>Kategorije</h2>
            </span>
        </a>
        <!-- <div>
            {{ categoryName }}
        </div>  -->
        <div class="row">
            <div class=" leftLeftMobile">
                <div class="searchDiv">
                    <div class="input-group mb-3" id="test" >
                        <!-- <div class="input-group-prepend">  -->
                            <input class="form-control mr-sm-2" id="searchCategoryMobile" [value]="categoryName"
                            style="font-size: 11px;" readonly>
                            <input [(ngModel)]="searchValue" class="form-control mr-sm-2" id="searchCategoryMobile"
                                type="search" placeholder="Unesite naziv artikala" aria-label="Search">
                        <!-- </div> &nbsp;&nbsp;&nbsp; -->
                        <button class="btn btn-outline-success my-2 my-sm-0" id="searchCategoryButtonMobile" type="submit"
                        (click)="searchArticleInCategory()" style="width: 100%;">Pretraga</button>
                        <!-- <input class="form-control mr-sm-2" id="searchCategoryMobile" [value]="categoryName"
                            style="font-size: 20px;" readonly>  -->

                    </div>

                </div>
                <app-article-item *ngFor="let articleEl of articles; let i = index" [article]="articleEl" [index]="i">
                </app-article-item>
            </div>
            <br>
        </div>
    </div>

    <router-outlet></router-outlet>
    <!-- MORAM DA GA IMAM RADI CHILD RUTA, da su ucita isto vremeno kad i roditeljska rutu na istoj stranici !!! -->
</div>