.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
  }

  .rightMobile {
    width: 100%;
  }

  .rightLeft {
    width: 50%;
  }

  .leftLeft {
    width: 50%;
    margin-left: 3%;
}
.leftLeftMobile {
  width: 93.5%;
  margin-left: 3%;
}

#btnNovaKategorija {
  font-size: 24px;
  margin-left: 0.6%;
}

.column.right {
    margin-top: -20%;
}

.column.rightMobile {
  margin-top: -70%;
}

.searchDiv {
    float: left;
    margin-left: 7%;
    margin-top: 5%;
}

#searchCategory {
    font-size: 20px;
}

#searchCategoryMobile {
  font-size: 13px;
}

#searchCategoryButton {
    font-size: 20px;
}

#searchCategoryButtonMobile {
  font-size: 13px;
}


#test {
    width: 150%;
}
/*.card {
    float: right;
    margin-right: 20%;
    margin-top: -15%;
}

.searchDiv {
    float: right;
    margin-right: 20%;
    margin-top: -25%;
}*/

/*.div.row {
    margin-top: 27%; 
    margin-left: 2%;
}*/
