<div *ngIf="isLoading" style="text-align: center;"> 
    <app-loading-spinner></app-loading-spinner>
  </div>
<br><br>
<div class="card">
    <h2>Artikal</h2>
    <div class="col-xs-12">
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" >

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="chooseCategoryLabel" for="name">Izaberite kategoriju</label>
                        <br>
                        <select
                        name="category"
                        id="category"
                        class="selectCategory"
                        formControlName="categoryName"
                        #categorySelect
                        (change)='onOptionsSelected(categorySelect.value)'
                      >
                      <!--  <option
                          v-for="item in getCategories"
                          :value="item"
                          :key="item.id"
                        >   -->
                        <!--  {{ item.categoryName }} -->
                    <!--   </option> -->
                    <option *ngIf="!categoryNameSelected" selected="selected" >Izaberite kategoriju</option>
                    <option *ngFor="let categoryEl of categories; let i = index">
                        {{ categoryEl.categoryName }}
                    </option>
                      </select>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label class="articleNameLabel" for="name">Naziv artikla</label>
                    <input type="text" id="name" class="form-control" formControlName="articleName">
                </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <label class="uploadFileLabel" for="file">Slika</label>
                <input type="file" class="form-control" id="file" formControlName="file" accept="image/*" (change)="handleInputChange($event)">
                <div *ngIf="uf.file.touched && uf.file.invalid" class="alert alert-danger">                            
                </div>
              </div>
              <br>
              <img [src]="imageSrc" alt="slika.png" width="100px" height="100px" class="responsive" />
               <input type="text" id="name" class="form-control" formControlName="imageSrc" [(ngModel)]="imageSrc" style="display: none">
              <br><br>

              <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label class="describeLabel" for="name">Opis</label>
                    <input type="text" id="describe" class="form-control" formControlName="describe">
                </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                    <label class="priceLabel" for="name">Cijena</label>
                    <input type="number" id="price" class="form-control" formControlName="price" min="0" >
                </div>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div class="col-xs-12" *ngIf="!isLittleMobile">  
                    <button type="submit" id="cancelArticle"  class="btn btn-danger" style="margin-right: 5px;" (click)="onCancel()" ><fa-icon [icon]="faArrowLeft"> </fa-icon>&nbsp;Nazad</button>
                    <button type="submit" id="saveArticle" class="btn btn-success" style="margin-right: 5px;" [disabled]='!articleForm.valid'><fa-icon [icon]="faSave"> </fa-icon>&nbsp;Sačuvaj</button>
                </div>                
                <div class="col-xs-12" *ngIf="isLittleMobile">  
                    <button type="submit" id="cancelArticle"  class="btn btn-danger" style="margin-right: 5px;" (click)="onCancel()" style="font-size: 16px;"><fa-icon [icon]="faArrowLeft"> </fa-icon>&nbsp;Nazad</button>
                    &nbsp;
                    <button type="submit" id="saveArticle" class="btn btn-success" style="margin-right: 5px;" [disabled]='!articleForm.valid' style="font-size: 16px;"><fa-icon [icon]="faSave"> </fa-icon>&nbsp;Sačuvaj</button>
                </div>
            </div>
        </form>
    </div>
</div>



