.card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 2rem auto;
    max-width: 92%
  }

  .labelEmail,
.labelPassword {
  font-size: 18px;
  font-weight: bold;
  color: #1266f1;
}

#email {
  border: 2px solid #1266f1;
}

#password {
  border: 2px solid #1266f1;
}

.badge.bg-primary {
  font-size: medium;
}

.form-outline.mb-4 {
  width: 80%;
}

#signIn {
  width: 35%;
}

form {
  margin: 1rem;
  border-radius: 12px;
  padding: 1rem;
}

#signIn {
  font-size: 20px;
}

#signInMDisplay {
  font-size: 14px;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}

.invalid label {
  color: red;
}

.invalid input {
  border: 1px solid red;
}

