#btnDeleteArticle {
    font-size: 20px;
    float: left;
    margin-left: 5%;
}

#btnChangeArticle {
    font-size: 20px;
    /*margin-left: 3%;*/
    float: right;
    margin-right: 5%;
    color: white;
}

.priceH2 {
    float: left;
    font-size: 30px;
}

#btnCDetailsArticle {
    margin-top: 2%;
    font-size: 22px;
    /*margin-left: 3%;*/
    float: right;
    margin-right: 5%;
    color: white;
}

input.ng-invalid.ng-touched, /* ng-invalid vidimo preko console u web browseru pa je to taj dio sto se prilikom kompajliranja dodaje pa da ogo button koji nisu validni bude crveni border ELEMENTA (npr input , textarea ... */
textarea.ng-invalid.ng-touched, /* ng-touched ako sma kliknuo */ 
select.ng-invalid.ng-touched
{ 
    border: 1px solid red;
}

.card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin: 2rem auto;
    max-width: 62%
  }

  .uploadFileLabel {
      font-size: 24px;
  }

  .categoryNameLabel {
    font-size: 24px;
  }

  #uploadPhoto {
    font-size: 24px;
  }
  
  #saveArticle {
    font-size: 24px;
  }

  #cancelArticle {
    font-size: 24px;
  }

  #category {
    font-size: 20px;
    width: 100%;
    height: 37.5px;
  }

  #counterRow {
    margin-left: 25%;
      width: 22%;
  }

  #addToCartRow {
      width: 60%;
      float: right;
      margin-top: 40%;
  }

  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }

  #btnPlusArticle {
    font-size: 26px;
  }

  #btnMinusArticle {
    font-size: 26px;
  }

  inputCounter {
    font-size: 26px;
  }
  
  #describeArticle {
    font-size: 22px;
  }

  #btnAddToCart {
    font-size: 26px;
  }

  .articleBasicInfoP{
    font-size: 20px;
    color: #5864d1;
  }

  textarea {
    resize: none;
    height: 100px;
 }


 textarea[readonly] {
  background-color: transparent;
}



/*
 .purple-border textarea {
  border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}


*/