<button class="btn btn-success" id="btnNovaKategorija" *ngIf="isAuthenticated" (click)="onNewCategory()"> <fa-icon [icon]="faPlus"> </fa-icon> &nbsp;Nova kategorija</button>
<button class="btn btn-success" id="btnNewArticle" *ngIf="isAuthenticated" (click)="onNewArticle()"> <fa-icon [icon]="faPlus"> </fa-icon> &nbsp;Novi artikal</button>
<div class="row">
    <div class="column left">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
            <a href="/"
                class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-5 fw-semibold">
                    <h2>Kategorije</h2>
                </span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <app-category-item *ngFor="let categoryEl of categories; let i = index" [category]="categoryEl" [index]="i"></app-category-item>
               <!-- <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Kucanski aparati</strong>
                        <small class="text-muted">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">Ovdje mozete pronaci mnogo artikala kako o kucanskim aparatima</div>
                </a>    -->
            </div>
        </div>
    </div>

     <!-- <div class="column right"> 
        <div class="row">
            <div class=" leftLeft"> -->
            <!-- <app-articles></app-articles>  -->  <!-- OBAVEZNO UKLJUCI UNUTAR DEKLARACIJE U fajlu categories.module.ts unutar NgModule deklaracije :D -->
        <!--</div>
            <br>
        </div>
    </div> -->
    <router-outlet></router-outlet> <!-- MORAM DA GA IMAM RADI CHILD RUTA, da su ucita isto vremeno kad i roditeljska rutu na istoj stranici !!! -->
</div>