



<div class="card" *ngIf="!isMobileVeryLittle; else elseBlock">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col" style="text-align: center;">Proizvod</th>
        <th scope="col" style="text-align: center;">Ukloni</th>
        <th scope="col" style="text-align: center;">Količina</th>
        <th scope="col" style="text-align: center;">Cijena</th>
      </tr>
    </thead>
    <tbody>
      <!-- <app-cart-item *ngFor="let article of (articles | async).articles; let i = index;" ></app-cart-item> -->
      <tr *ngFor="let article of (articles | async).articles; let i = index;">
        <th scope="row">
          <div class="row">
            <div class="column">
              <div class="card">
                <img [src]="article.imageSrc" alt="{{ article.imageSrc }}" class="card-img-top" alt="..."
                  style="max-height: 300px; max-width: 500px" />
              </div>
            </div>
            <div class="card-body">
              <p class="articleHistory">{{ article.articleName }} » {{ article.categoryName }}</p>
            </div>
          </div>
        </th>
        <th scope="row">
          <button type="button" class="btn btn-danger" id="deleteArticleFromCart"
            (click)="deleteArticleFromCart(i)">Ukloni</button>
        </th>
        <th scope="row" id="articleQuantity" style="align-items: center;">{{ article.quantiy }}</th>
        <th id="articlePrice">{{ article.price }}</th>

      </tr>
    </tbody>
  </table>

  <h1 class="SummaryCartAmount">Ukupno: {{ getSummaryPriceXQuantity }} KM</h1>
  <div class="buyArticleDiv">
    <button type="button" class="btn btn-success" id="buyArticlesButton" (click)="open(mymodal)">KUPI</button>
  </div>
  <br>



  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>  -->
     
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Uspješna kupovina</h4>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button> -->
    </div>
    <div class="modal-body">
      Kupovina u iznosu od {{ getSummaryPriceXQuantity }} je uspješno obavljena.
      <br><br>
      <p>Hvala Vam na kupovini!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Save click')" style="background-color: #b23cfd; color: white;">Potvrdi</button>
    </div>
  </ng-template>





</div>

<ng-template #elseBlock>
  <div class="card" style="font-size: 10px;">
    <table class="table">
      <thead class="table-light">
        <tr> <!-- isMiddleMobile -->
          <th scope="col" style="text-align: center;">Proizvod</th>
          <th scope="col" style="text-align: center;">Ukloni</th>
          <th scope="col" style="text-align: center;">Količina</th>
          <th scope="col" style="text-align: center;">Cijena</th>
        </tr>
      </thead>
      <tbody>
        <!-- <app-cart-item *ngFor="let article of (articles | async).articles; let i = index;" ></app-cart-item> -->
        <tr *ngFor="let article of (articles | async).articles; let i = index;">
          <th scope="row">
            <div class="row">
              <div class="column">
                <div class="card">
                  <img [src]="article.imageSrc" alt="{{ article.imageSrc }}" class="card-img-top" alt="..."
                    style="max-height: 200px; max-width: 400px" />
                </div>
              </div>
              <div class="card-body">
                <p class="articleHistory" style="font-size: 10px;">{{ article.articleName }} » {{ article.categoryName }}</p>
              </div>
            </div>
          </th>
          <th scope="row">
            <button type="button" class="btn btn-danger" id="deleteArticleFromCart"
              (click)="deleteArticleFromCart(i)"><fa-icon [icon]="faTrash" style="font-size: 9px;"> </fa-icon></button>
          </th>
          <th scope="row" id="articleQuantity" style="align-items: center; font-size: 12px;">{{ article.quantiy }}</th>
          <th style="font-size: 12px;" id="articlePrice">{{ article.price }}</th>
  
        </tr>
      </tbody>
    </table>
  
    <h3 class="SummaryCartAmount">Ukupno: {{ getSummaryPriceXQuantity }} KM</h3>
    <div class="buyArticleDiv">
      <button type="button" class="btn btn-success" id="buyArticlesButton" (click)="open(mymodal)" style="font-size: 20px;">KUPI</button>
    </div>
    <br>
  
  
  
    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>  -->
       
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Uspješna kupovina</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button> -->
      </div>
      <div class="modal-body">
        Kupovina u iznosu od {{ getSummaryPriceXQuantity }} je uspješno obavljena.
        <br><br>
        <p>Hvala Vam na kupovini!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Save click')" style="background-color: #b23cfd; color: white;">Potvrdi</button>
      </div>
    </ng-template>
  
  
  
  
  
  </div>
  
</ng-template>

