#categorynameStrong {
    font-size: 24px;
}

#btnDeleteCategory {
    font-size: 20px;
    float: left;
    margin-left: 5%;
}

#btnChangeCategory{
    font-size: 20px;
    /*margin-left: 3%;*/
    float: right;
    margin-right: 5%;
    color: white;
}

.mb-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#categorynameStrongHorizontal {
    font-size: 14px;
}

#btnDeleteCategoryHorizontal {
    font-size: 12px;
    float: left;
    margin-left: -5%;
}

#btnChangeCategoryHorizontal {
    font-size: 12px;
    /*margin-left: 3%;*/
    float: right;
    margin-right: -5%;
    color: white;
}

