<div class="card" style="width: 150%;" >
  <img [src]="article.imageSrc" alt="{{ article.articleName }}"  height="400px"
  class="responsive" />
    <div class="card-body">
      <h5 class="card-title">{{ article.articleName }}</h5>
      <p class="card-text">{{ article.describe }}</p>
      <h2 class="priceH2">Cijena {{article.price}} KM</h2> <br><br><br>
      <button class="btn btn-danger" id="btnDeleteArticle" *ngIf="isAuthenticated" (click)="onDeleteArticle()">
        <fa-icon [icon]="faTrash"> </fa-icon> &nbsp;Ukloni&nbsp;&nbsp;
    </button>
    <button class="btn btn-info" id="btnChangeArticle" *ngIf="isAuthenticated" (click)="onUpdateArticle()">
        <fa-icon [icon]="faPencilAlt"> </fa-icon> &nbsp;Izmjeni&nbsp;&nbsp;
    </button>
    </div>
  </div>
  <br>